* {
    cursor: url("cursor.png") 10 10, default !important;
}

*:hover, *:active {
    cursor: url("cursor.png") 10 10, default !important;
}
@keyframes rotate {
    0% {
        transform:translate(50px, 100px) rotate(0deg) translate(-50px, -50px);
    }
    33%{
        transform:translate(100px, 70px) rotate(90deg) translate(-50px, -50px);
    }
    66%{
        transform:translate(70px, 100px) rotate(-90deg) translate(-50px, -50px);
    }
    100%{
        transform:translate(100px, 100px) rotate(-360deg) translate(-50px, -50px);
    }
}
#btn-join {
    /*cursor: url("cursor.png") 64 64, default !important;*/
    animation:rotate 10s infinite linear;
}